jquick-sql-executor/src/main/resources/paohaijiao.dto/Jquick-sql.dtd

<?xml version="1.0" encoding="UTF-8"?>
        <!ELEMENT sqls (sql*)>
        <!ATTLIST sqls namespace CDATA #REQUIRED>
        <!ELEMENT sql (#PCDATA|if|foreach|choose)*>
        <!ATTLIST sql
                name CDATA #REQUIRED
                returnClass CDATA #REQUIRED
                >
        <!ELEMENT code (#PCDATA)>
        <!ELEMENT if (#PCDATA | if | foreach | choose)*>
        <!ATTLIST if test CDATA #REQUIRED>
        <!ELEMENT foreach (#PCDATA | if | foreach | choose)*>
        <!ATTLIST foreach
                collection CDATA #REQUIRED
                item CDATA #REQUIRED
                open CDATA #IMPLIED
                close CDATA #IMPLIED
                separator CDATA #IMPLIED
                >
        <!ELEMENT choose (when*, otherwise?)>
        <!ELEMENT when (#PCDATA | if | foreach | choose)*>
        <!ATTLIST when test CDATA #REQUIRED>
        <!ELEMENT otherwise (#PCDATA | if | foreach | choose)*>